

<%# errors %>
<%= render 'shared/errors', obj: @user %>
<%# signup-form %>

<%= form_for @user do |f| %>
        <h4>Username:</h4> 
        <%=f.text_field :username%> 
        <h4>Email:</h4>     
        <%=f.text_field :email%> 
        <h4>Password:</h4> 
        <%=f.text_field :password%> 
        

<a onclick="M.toast({html: 'I dont like this user submittable attribute thingy!!!!'})" class="btn">I love coding!</a><br><br><br>

<button class="btn-floating btn-large pulse pink" type="submit" name="action">Create User
    <i class="material-icons left">cloud</i>
  </button>

<%end%>
<%# back %>
<br><br>
 <a class="btn waves-effect waves-light" href='<%=root_path%>'
    <i class="material-icons left">Back</i>
  </a>