<div class="center">
    <h1 class="">
     <%="(ADMIN)" if current_user.admin?%>   <%= @user.username%>'s Homepage
    </h1>

<% if logged_in? && (@user == current_user || current_user.admin?) %>
     <span class= "center-align">
  <div class= "btn-floating btn-large pulse teal lighten-5"> <%= link_to 'Haggle', new_user_product_path(@user, @product) %>
</div>
</span>   


  <h1 class="center">
  <a class='dropdown-trigger btn pink' href='#' data-target='dropdown1'>Profile Console</a>
</h1>
 
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
  <%if current_user.admin?%>
    <li  class="btn">  <%= link_to "ADMIN",users_path if current_user.admin?%> </li>
    <li  class="btn">  <%= link_to "Categories",categories_path if current_user.admin?%> </li>
    <%end%>
    <li><a href=<%=edit_user_path(@user)%>>Edit Your Profile</a></li>
    <%# <%=link_to "del", user_path(@user), method: :delete, data: {confirm: "Warning!!!!! this will erase everything"%>
    <%= link_to "Delete Profile", user_path(@user), class: "btn red accent-4", method: :delete, data: {confirm: "Warning!!!!! this will erase everything and cannot be undone."} %>
    
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!"><i class="material-icons"><img   id="fb" alt="fbshare" src='https://github.com/anisssoudki/just-a-logo/blob/master/Screenshot%20(34).png?raw=true'></i>authenticate account with facebook</a></li>
    <li><a href="<%=user_products_path(@user)%>">Browse Market</a></li>
  
  </ul>
 
<div class="card-panel">
    <span class="pink-text text-lighten-3 "><h1 class="center">E-HAGGLE</h1></span>
  </div>




<%end%>

</div>
  <h3 class= "center">MY products</h3>
<% @user.products.each do |product|%>
  <% if logged_in? && (product.user == current_user || current_user.admin?) %>
      <div class="center">
      <br><br><br><br><br>
   
       <h3 class="waves-effect waves-light btn pulse pink"><i class="material-icons left">cloud</i><%=product.id%> <%= link_to 'details', user_product_path(current_user, product)%></h3>
       
       <h4>  <div class="col s1"><%= product.name%><br></div></h4>
          <h4><div class="col s1">  <%= product.price%> $</div></h4>
          <div class="col s1"><%=image_tag(product.image, style:'width:15%')%></div>
          
    </div>
    <%# ---------------------------create edit delete actions for product %>


 <%# ------------------------------------------------------------------------------------------- %>
      

         <%end%>
        

<%end%>

<br> <br><br><br><br><br><br> <br><br><br><br><br><br> <br><br><br><br><br>









