<h1 class="center">Showing<strong class=pink-text text-lighten-2  > <%=@product.name%></strong> details</h1>
 <div class="col s12 m7">
      <div class="card">
        <div class="center">
          <img style="width:100px; height:auto">
                <%=image_tag(@product.image, style:'width:15%')%>
                <%# ---------------------------------------------- %>
              
 <div>
  <div id="like-link">
    <%= render 'products/likes', product: @product%>
  </div>
    <div id="like-link">
     <%= render 'products/like_link', product: @product%>
    </div>
    </div>    
  </div>
<%# ----------------------------showing the user submittable attribute  %>
  <%@product.product_categories.each do |pc|%>
  category <%=pc.category.name%>
  categoy rating <%=pc.like%>
  <br>
  <%end%>
<%# ------------------------------------------------- %>


<span class= "likes-count"><%@product.get_upvotes.size%></span>
<br>
<%# ----------------------------------------------------------- %>
<%# ----------------------------------------------------------- %>
<%# comment section %>
<%=form_with model: [@product, @comment] do |f|%>
<h5>Enter your comment below ↓</h5>
<strong><%=f.text_field :body, placeholder: "type your comment on this line"%> </strong>

<%=f.submit "comment"%>
<%end%>

<div class = "center">
<%@comments.each do |comment|%>
[<%=comment.created_at.strftime("%I:%M %p")%>] <%=comment.user.username%>: <%=comment.body%>
<br>
<%end%>
</div>
<%# ----------------------------------------------------------- %>
                <br><br>
<span class="card-title"><strong><%=@product.name%></strong> $<%=@product.price %></span>
<br>
 <%=@product.description%>
 <br>
 <%@product.categories.each do |cat|%>
 <%=cat.name%>
 <%end%>
        </div>
          </div>
            </div>
        <%# --------------------------------------------- %>



        <%# ----------------------------------------------- %>

 <% if logged_in? && (@product.user == current_user || current_user.admin? ) %>

          <span class= "right-align">
  <div class= "btn-floating btn-large pulse lime darken-5"> <%= link_to 'Edit', edit_user_product_path(@product)%>
</div>
</span>
<br><br>
<span class= "center-align">
  <div class= "btn-floating btn-large pulse red darken-2"> <%= link_to 'Delete', user_product_path(@product), method: :delete, data: {confirm: "Are you sure?"}%>
</div>
</span>


        <div class="card-content">
       <h4>  <p>by: <%=@product.user.username if @product.user %></p></h4>
        </div>
      </div>
    </div>
  </div>
<%end%>

<%= link_to 'Product Listing Page', user_products_path%>