<!DOCTYPE html>
<html>
  <head>
    <title>EHaggel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
         
      <style>
      body {
          margin: 0;
          padding: 0;
          height: 100%
          flex: 1;
      }
      main {
      flex: 1;

      }
        footer {
          flex-shrink: none;
        }
      </style>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   


  
  <body>
    
    <nav class="pink accent-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">E-haggle</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li> <a href="<%=root_path%>" >home</a> </li>
          <li><a href="<%=about_path%>">About</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.google.com/doodles">I'm Feeling Lucky</a></li>

              <% if logged_in? %>
                <li><%=link_to 'My haggle Page', user_path(current_user) %></li>
                <li><%=link_to 'Logout', logout_path, method: :delete %></li>
              <%end%>
        </ul>
      
      </div>
    </nav>

    <%=render 'layouts/messages'%>
    <%= yield %>
    
  </body>

  <br><br><br><br>

    <footer   class='sticky-footer pink accent-2'>
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">E-commerce app to barter goods</h5>
                <p class="grey-text text-lighten-4">Bargaining or haggling is a type of negotiation in which the buyer and seller of a good or service debate the price and exact nature of a transaction.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
              <div class="container">
                © E-Copyright 2020 <br>
                All rights reserved. Powered by Materialize
                <a class="grey-text text-lighten-4 right" href='<%=terms_path%>'>Terms of use</a>
              </div>
          </div>
    </footer>
</html>
